<!DOCTYPE html>
<html lang="en">

<%- include('kpi-layout/header') %>

<body id="page-top">

  <%- include('kpi-layout/nav') %>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('kpi-layout/sidebar') %>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Tổng quan</li>
        </ol>

        <!-- Icon Cards-->
        <%- include('kpi-layout/icon-cards') %>

        <% var rateOfCourse = parseInt(sumOfCourse/courseKpi*100) %>
        <% var rateOfLesson = parseInt(sumOfLesson/lessonKpi*100) %>
        <% var rateOfQuiz = parseInt(sumOfQuiz/quizKpi*100) %>
        
        

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Tổng quan KPI của bạn </div>
          <div class="card-body">
            <!-- <canvas id="myAreaChart" width="100%" height="30"></canvas> -->
            Khóa học
            <div class="progress" style="height:20px">
              <div class="progress-bar" style="width:<%= rateOfCourse %>%;height:20px"><%= rateOfCourse %>%</div>
            </div>
            Buổi học
            <div class="progress" style="height:20px">
                <div class="progress-bar bg-success" style="width:<%= rateOfLesson %>%;height:20px"><%= rateOfLesson %>%</div>
            </div>
            Quiz
            <div class="progress" style="height:20px">
                <div class="progress-bar bg-danger" style="width:<%= rateOfQuiz %>%;height:20px"><%= rateOfQuiz %>%</div>
            </div>
          </div>
          <div class="card-footer small text-muted">Cập nhật lần cuối 11:59 PM 19-04-2019</div>
        </div>

        <!-- Area Chart Example-->
        <!-- <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Xem KPI sinh viên của bạn</div>
          <div class="card-body">
               -->

            <!-- <canvas id="myAreaChart" width="100%" height="30"></canvas> -->
          <!-- </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div> -->

        
        

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <%- include('kpi-layout/sticky-footer') %>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <%- include('kpi-layout/logout-modal') %>

  <%- include('kpi-layout/footer') %>

</body>
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["Buổi 1", "Buổi 2", "Buổi 3", "Buổi 4", "Buổi 5", "Buổi 6", "Buổi 7", "Buổi 8", "Buổi 9", "Buổi 10", "Buổi 11", "Buổi 12", "Buổi 13"],
    datasets: [{
      label: "Sessions",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: [10, 20, 20, 20, 20, 82, 74, 59, 49, 59, 51, 84, 51],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 100,
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});

</script>

</html>
