<div class="col-md-3 col-sm-3">
    <div class="text-center">
        <div class="course-avatar img-thumbnail" style="background-image: url(<% if(typeof course.avatar != 'undefined'){ %><%= course.avatar %> <% } else {%> /images/avatar-course.jpg <%} %>);"></div>
    </div>
    </hr>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">Menu</div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <% if(boolRegister){%>
                <li class="active"><a href="/student/register-in-the-course?courseId=<%= course._id %>">Tham gia khóa
                        học</a></li>
                <%}else{ %>
                <li class="active"><a href="/student/quit-the-course?courseId=<%= course._id %>">Hủy đăng ký khóa học</a></li>
                <li><a href="/student/show-lesson-list?courseId=<%= course._id %>">Xem danh sách buổi học</a></li>
                <%} %>
            </ul>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Thông tin khóa học</div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li>Tên:
                    <%= course.name %>
                </li>
                <li>Mô tả:
                    <%= course.description %>
                </li>
            </ul>
        </div>
    </div>
</div>