<!DOCTYPE html>
<html lang="">
<%- include('./layouts/classroom/classroom-header-tag') %>

<body>
    <div class="container-fluid">
        <%- include('./layouts/classroom/classroom-header') %>
        <div class="row">
            <div class="col-md-9">
                
                <div class="row" style="height:75vh" id="main-container">   
                    <%- include('./layouts/classroom/div-show-slide') %>
                    <iframe id="youtubeIframe" width="100%" height="100%" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe id="quizIframe" src="" width="100%" height="99%" frameborder="0" marginheight="0" marginwidth="0">Đang tải...</iframe>
                </div>
            
                <div class="row" id="videoContainer" style="height: 17vh;">
                    <div class="video" id="localVideo"></div>
                    <div class="video" id="remoteVideo"></div>
                </div>
                    
            </div>
            <div class="col-md-3" style="height: 100%; margin-top: 0px">
                <div class="row">
                    <%- include('./layouts/classroom/div-chat') %>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layouts/classroom/add-slide-modal') %>
    <%- include('./layouts/classroom/youtube-modal') %>
    <%- include('./layouts/classroom/add-quiz-modal') %>

    <script src="/javascripts/pdf.js"></script>
    <script src="/javascripts/openvidu-browser-2.6.0.js"></script>

    <%- include('./layouts/classroom/script-slide') %>
    <%- include('./layouts/classroom/script-openvidu') %>
</body>
<script>
    $('#slideContainer').hide();
    $('#youtubeIframe').hide();
    $('#quizIframe').hide();
    $('#localVideo').on('click', function(){
        $('#main-container').append($('#localVideo').html());
    });
</script>

</html>