<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tạo buổi học mới</title>
    <%- include('layouts/resources') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('layouts/header') %>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <%- include('layouts/course-tasks') %>
                <div class="panel panel-primary">
                    <div class="panel-heading">Hướng dẫn tạo mới buổi học</div>
                    <div class="panel-body">Giảng viên điền thông tin buổi học và ấn nút tạo, buổi học mới sẽ được tạo
                        ra, và giảng viên sẽ được điều hướng vào lớp học.</div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">Tạo buổi học mới cho khóa học:
                        <%= course.name %>
                    </div>
                    <div class="panel-body">
                        <%- include('layouts/message') %>
                        <form action="/instructor/create-new-lesson?courseId=<%= course._id %>" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="pull-left" for="lessonName">Nhập tên buổi học <span style="color: red">(*)</span></label>
                                <input type="text" class="form-control" id="lessonName" name="lessonName"
                                    aria-describedby="" placeholder="Nhập tên buổi học" required>
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div class="form-group">
                                <label for="content">Nội dung buổi học</label>
                                <textarea class="form-control" name="lessonContent" id="" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="lessonSlide">Thêm slide</label>
                                <input type="file" name="lessonSlide" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="date">Ngày học</label>
                                <input type="date" name="startDate" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary pull-left">Tạo mới</button>
                        </form>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Các buổi học đã tạo</div>
                    <div class="panel-body">
                        <% if(lessons.length != 0){ var i = 1; %>
                        <% lessons.forEach(
                                        (lesson) => {
                                            %>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a class="pull-left" href="/instructor/lesson-detail?lessonId=<%= lesson._id %>">Buổi
                                    <%= i %>:
                                    <%= lesson.name %></a></li>
                        </ul>
                        <%  i++;
                                        }
                                    ) %>
                        <% }else{ %>
                        <p><i>Không có buổi học nào được hiển thị</i></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>