<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thông tin khóa học</title>
    <%- include('layouts/resources') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('layouts/header') %>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <%- include('layouts/course-tasks') %>
                <div class="text-center">
                    <!-- <div class="course-avatar img-thumbnail" style="background-image: url(<% if(typeof course.avatar != 'undefined'){ %><%= course.avatar %> <% } else {%> /images/avatar-course.jpg <%} %>);"></div> -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">Thông tin khóa học:
                        <%= course.name %>
                    </div>
                    <div class="panel-body">
                        <p><b>Giảng viên: </b>
                            <%= course.instructor.info.lastname %>
                            <%= course.instructor.info.firstname %> <br> <b>Email: </b>
                            <%= course.instructor.local.email %>
                        </p>
                        <p><b>Mô tả khóa học: </b>
                            <% if(course.description.length != 0){ %>
                            <p>
                                <%= course.description %>
                            </p>
                            <% }else { %>
                            <p><i>Chưa cập nhật mô tả cho khóa học.</i></p>
                            <% } %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>