<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danh sách điểm danh của buổi học
        <%= lesson.name %>
    </title>
    <%- include('layouts/resources') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('layouts/header') %>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <%- include('layouts/lesson-tasks') %>
            </div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">Danh sách điểm danh buổi học:
                        <%= lesson.name %>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <th>Stt</th>
                                <th>Họ Tên</th>
                                <th>Email</th>
                                <th>Thời gian trong lớp</th>
                            </thead>
                            <% if(attendances.length != 0) { %>
                                <% var i = 0; attendances.forEach(attendance => { %> 
                                    <td><%= ++i %></td>
                                    <td><%= attendance.student.info.lastname %> <%= attendance.student.info.firstname %></td>
                                    <td><%= attendance.student.local.email%></td>
                                    <td>
                                        <% if(attendance.time_attend.length != 0){ %> 
                                            <% attendance.time_attend.forEach(time_att => { %>
                                            <%= time_att.join_time %> --> <%= time_att.exit_time %> <br>
                                            <% }) %>
                                        <% } %>
                                    </td>    
                                <%}) %>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>