<!DOCTYPE html>
<html lang="">
<%- include('layouts/classroom/classroom-header-tag') %>

<body>
    <div class="container-fluid">
        <%- include('layouts/classroom/classroom-header') %>
        <div class="row" style="height: 92vh">
            <div class="col-md-9" style="height: 100%">
                <div class="row" style="height:75vh" id="main-container">   
                        <%- include('./layouts/classroom/div-show-slide') %>
                        <iframe id="youtubeIframe" width="100%" height="100%" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe id="quizIframe" src="" width="100%" height="99%" frameborder="0" marginheight="0" marginwidth="0">Đang tải...</iframe>
                </div>
                
                <div class="row" id="videoContainer" style="height: 17vh;">
                        <div class="video" id="localVideo"></div>
                        <div class="video" id="remoteVideo"></div>
                </div>
            </div>
            <div class="col-md-3 border-left" style="height: 100%">
                <div class="row">
                    
                    <div class="panel panel-primary" style="border-radius: 0px;">
                            <div class="panel-heading" style="border-radius: 0px">
                                <span class="glyphicon glyphicon-comment"></span> Chat
                            </div>
                            <div class="panel-body panel-body-chat">
                                <ul class="chat" id="chat-content">
                    
                                </ul>
                            </div>
                            <div class="panel-footer" style="border-radius: 0px;">
                                <div class="input-group">
                                    <input id="txtMessage" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" id="btn-chat">
                                            Send</button>
                                        <input type="hidden" id="username" value="<%= username %>">
                                    </span>
                                </div>
                            </div>
                        </div>
                    
                    <!-- /.panel .chat-panel -->
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/pdf.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <%- include('./layouts/classroom/script-slide.ejs') %>

    <%- include('./layouts/classroom/script-openvidu.ejs') %>

</body>
<script>
    var socket = io('');
</script>

</html>