<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thông tin chi tiết khóa học</title>
    <%- include('layouts/resources') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('layouts/header') %>
        <br><br>
        <%- include('layouts/course-tasks') %>
        <div class="col-md-9 col-sm-7">
            <div class="panel panel-primary">
                <div class="panel-heading">Thông tin khóa học</div>
                <div class="panel-body">
                    <% if(typeof msg != 'undefined'){ %> 
                        <div class="alert alert-info"><%= msg %></div>
                    <% } %>
                    <p><b>Giảng viên: </b>
                        <%= course.instructor.name %> | <b>Email:</b>
                        <%= course.instructor.local.email %>
                    </p>
                    <p><b>Mô tả: </b>
                        <%= course.description %>
                    </p><br>
                    <b>Đề cương khóa học: </b> <br><br>
                        <table class="table table-hover table-bordered">
                            <thead>
                              <tr>
                                <th>STT</th>
                                <th>Tên buổi học</th>
                                <th>Ngày học</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% var i = 0; %>
                                <% if(typeof lessons != 'undefined'){ %>
                                    <% lessons.forEach(lesson => { i++; %>
                                        <tr>
                                            <td><%= i %></td>
                                            <td><a href="/student/lesson-detail?lessonId=<%= lesson._id %>"><%= lesson.name %></a></td>
                                            <td><%= lesson.date %></td>
                                        </tr>
                                    
                                    <%}) %>
                                <% } %>
                            </tbody>
                          </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>