<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm video cho buổi học</title>
    <%- include('../layouts/resources') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('../layouts/header') %>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <%- include('../layouts/course-tasks') %>
                <div class="text-center">
                    <!-- <div class="course-avatar img-thumbnail" style="background-image: url(<% if(typeof course.avatar != 'undefined'){ %><%= course.avatar %> <% } else {%> /images/avatar-course.jpg <%} %>);"></div> -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">Thêm video cho buổi học: <%= course.name %>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <% if(typeof msg != 'undefined'){ %>
                                <div class="alert alert-info" role="alert">
                                       <%= msg %>
                                </div>    
                            <% } %>
                            <form action="" method="POST" enctype="multipart/form-data">
                                <label for="sel1">Chọn buổi học:</label>
                                <select class="form-control" id="sel1" name="lesson">
                                <% lessons.forEach(lesson => { %>
                                    <option value="<%= lesson._id %>"><%= lesson.name %></option>  
                                <% }) %>
                                </select>
                                </div> 
                                <div class="form-group">
                                
                                    <label for="">Chọn video</label>
                                    <input type="file" name="lessonSlide" id=""><br>
                                    <input type="submit" class="btn btn-primary" value="Submit">
                                
                                </div>
                    </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>