<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thông tin khóa học</title>
    <%- include('../layouts/resources') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('../layouts/header') %>
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <%- include('../layouts/course-tasks') %>
                <div class="text-center">
                    <!-- <div class="course-avatar img-thumbnail" style="background-image: url(<% if(typeof course.avatar != 'undefined'){ %><%= course.avatar %> <% } else {%> /images/avatar-course.jpg <%} %>);"></div> -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">Kết quả điểm danh khóa học: <%= course.name %>
                        
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-bordered">
                            <thead>
                              <tr>
                                <th>Họ tên</th>
                                <% lessons.forEach(lesson => { %>
                                    <th><%= lesson.date %></th>  
                                <% }) %>
                              </tr>
                            </thead>
                            <tbody>
                                <% course.learner.forEach(learner => { %>
                                <tr>
                                    <td><%= learner.info.lastname %> <%= learner.info.firstname %></td>
                                    <% lessons.forEach(lesson => { %>
                                        <% var attended = false; %>
                                        <% resultQuizes.forEach(resQuiz => { %>
                                            <% if(JSON.stringify(resQuiz.student) == JSON.stringify(learner._id) && JSON.stringify(resQuiz.lesson) == JSON.stringify(lesson._id)){ %>
                                                <td><%= resQuiz.result %></td>
                                                <% attended = true %>
                                            <% } %>
                                        <% }) %>
                                        <% if(attended == false){ %> 
                                            <td>0</td>
                                        <% } %>
                                    <%}) %>
                                </tr>    
                                <% }) %> 
                            </tbody>
                          </table>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>